#section_header{
	height: 250px;
	align-items: flex-start;
}

#section_header .section-inner-wrapper{
	max-width: 1200px;
}

.section-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section-testimonials .section-title{
	color: #fff;
}

.event-box{
	width: 31%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 40px;
}

.event-box:hover{
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

body .event-box:hover .event-box-text{
	-ms-transform: translate(0px, -43px); /* IE 9 */
	-webkit-transform: translate(0px, -43px); /* Safari */
	transform: translate(0px, -43px);
}

.event-box-image{
	width: auto;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-color: black;
}

.event-box-text{
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

.event-box-text .event-box-name{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.8rem;
	padding: 18px 25px;
	background-color: #900D37;
	color: #fff;
	text-align: center;
	min-height: 106px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.event-box-text .event-box-meta{
	line-height: 23px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	z-index: 999;
}

.event-box-text .event-box-meta .event-box-meta-data{
	width: 50%;
	background-color: #47081C;
	color: #fff;
	text-align: center;
	padding: 10px 0px;
	border-right: 1px solid #900D37;
}

.event-box-text .event-box-meta .event-box-meta-data:last-child{
	border-right: unset;
}

.event-box-text .meta-price{
	width: 100%;
	background-color: #25040E;
	font-weight: bold;
	position: absolute;
	color: #fff;
	text-align: center;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
}
